/*****************************
제목 : 종로편입학원 게시판 공통 CSS
작성자 : 해커스교육그룹 개발지원팀 김남경
작성일 : 2012.03.29
*****************************/

.board_wrap {float:left; padding:15px 0 30px;}
.board_wrap input {border:1px solid #dedede;}

.board_list  {width:100%; margin-bottom:30px;}
.board_list a:hover {color:#cc0000;}
.board_list thead { }
.board_list th {padding:12px 0 30px; background:url(../img/board/th_bg02.gif) left top no-repeat;}
.board_list th.first {background:url(../img/board/th_bg01.gif) left top no-repeat;}
.board_list th.last {background:url(../img/board/th_bg03.gif) right top repeat-x;}
.board_list tr.notice td {font-weight:bold;}
.board_list tr.notice td.num {color:#cc0000;}
.board_list td {padding:10px 0; text-align:center; color:#666; border-bottom:1px solid #eaeaea}
.board_list td.subject {padding-left:18px; text-align:left;}

/* 마이페이지추가 120405 정정인 */
.board_list tr.graph th {padding:12px 0;}
.board_list th.last_mypage {background:url(../img/board/th_bg04.gif) right top repeat-x;}  
.board_list th.last_date {background:url(../img/board/th_bg05.gif) right top repeat-x;}  
.board_list td.campus {color:#cc0000; font-weight:bold;}
.board_list tr.vocalist td{padding:5px 0;}


.paging {float:left; width:100%; margin:36px 0 0; text-align:center;font-size:11px;}
.paging span a {padding:0 3px;}
.paging a {color:#999; font-size:11px; }
.paging span a:hover, .paging em {padding:0 3px; color:#425831; font-weight:bold; letter-spacing:-1px}
.paging var {color:#e6e7e8;}
.paging img {position:relative; top:-1px; vertical-align:middle;}
.paging a.prev {padding-right:5px;}
.paging a.next {padding-left:5px;}

.board_wrap fieldset.search {float:left; width:100%; margin:29px 0 0;}
.board_wrap fieldset.search button {position:relative; top:-1px; width:38px; height:21px; background:url(../img/button/search.gif) no-repeat;}
.board_wrap fieldset.search ul {margin:0 0 0 158px;}
.board_wrap fieldset.search li {float:left;}
.board_wrap fieldset.search select {width:88px; margin:0 6px 0 0;}
.board_wrap fieldset.search input {width:251px; margin:0 6px 0 0; padding:2px 0 1px;}

/****************** 정미례_추가_120331  ******************/
.board_wrap .pointer {cursor:pointer;}
.board_wrap .left {float:left;}
.board_wrap .right {float:right;}
.board_wrap .board_btns {margin-top:10px;}

/* 글보기 */
.board_view {width:100%;}
.board_view img {vertical-align:top;}

.board_view th,
.board_view td {border:1px solid #eaeaea; padding:7px 0 5px; text-align:center; line-height:20px;}
.board_view th {background-color:#f7f7f7}
.board_view td.subject {font-weight:bold; text-align:left; padding-left:10px; }
.board_view td.writing {padding:15px 0 30px 25px; text-align:left; }
.board_view td.date {border-right:none;}
.board_view td.copyAdd {border-left:none; padding:5px 0 5px 0;}
.board_view td.copyAdd img {cursor:pointer}
.board_list .board_view {margin-top:-11px;}
.board_list .board_view th {background:none; background-color:#f7f7f7}

.comment_wrap {float:left;  margin:13px 0; background-color:#f7f7f7;}
.comment_wrap li {position:relative; float:left; width:669px; line-height:17px; padding:13px 20px; border-bottom:1px solid #ededed;}

.comment_wrap li .writer {line-height:25px; font-weight:bold;}
.comment_wrap li .writer em {font-size:11px; font-weight:normal; color:#9b9b9b;}
.comment_wrap li .commentBox {float:left; width:590px; height:53px; margin-right:10px; padding:5px; background-color:#fff; border:1px solid #dedede; overflow:auto;}
.comment_wrap li .btn {padding-top:8px;}
.comment_wrap li .btn_reply {position:absolute; top:20px; right:20px;}

.comment_wrap li.reply {} /* 갤러리형 게시판 추가 120403 */
.comment_wrap li.reply .writer {margin-left:10px; padding-left:19px; background:url(../img/board/bul_reply.gif) 0 5px no-repeat;}
.comment_wrap li.reply .comment {margin-left:10px; padding-left:19px;}


.list_ect {float:left; width:100%; margin-top:20px; margin-bottom:-30px; border-top:2px solid #b5b5b5}
.list_ect li {float:left; width:100%; line-height:28px;  font-size:11px; border-bottom:1px solid #eaeaea}
.list_ect li .subject {float:left; margin-left:20px;}
.list_ect li .date {float:right; width:100px; color:#999;}

/* 글쓰기 */
.board_write th {width:100px;}
.board_write td {padding:7px 0 5px 10px;}
.board_write td.module {padding:0; border:none;}
.board_write td input.subject {width:500px; height:20px; margin-right:10px;}
.board_write td label {font-weight:bold; font-size:11px;}
.board_write td input.check {border:none;}

/**************** 갤러리형 게시판 추가 120403 **************/
.gallery_list  {width:100%;}
.gallery_list a {color:#888;}
.gallery_list a:hover {color:#cc0000;}
.gallery_list thead { }
.gallery_list th {padding:12px 0 30px; background:url(../img/board/th_bg02.gif) right top no-repeat;}
.gallery_list th.first {background:url(../img/board/th_bg0102.gif) left top no-repeat;}
.gallery_list th.last {background:url(../img/board/th_bg03.gif) right top repeat-x;}
.gallery_list td {padding:10px 0 9px; text-align:center; color:#666; border-bottom:1px solid #eaeaea}
.gallery_list td.subject {padding-left:20px; text-align:left;}
.gallery_list td.subject td {padding:0; border-bottom:none;}
.gallery_list td img {width:150px; height:112px; padding:0 20px 0 0;}

.gallery_wrap .paging {margin-top:0;}
.gallery_wrap fieldset.search {margin-bottom:19px;}

.gallery_viewList {float:left; width:100%; margin:21px 0 0; } 
.gallery_viewList div.list {float:left; padding:15px 0 0; border-top:2px solid #b5b5b5; border-bottom:1px solid #eaeaea;}
.gallery_viewList dl {float:left; width:166px; margin:0 15px 0 0;}
.gallery_viewList dl.last {margin-right:0;}
.gallery_viewList dt {width:164px; height:118px; border:1px solid #eaeaea;}
.gallery_viewList dd {padding:10px 0 15px; text-align:center;}
.gallery_viewList dd a {color:#888;}

.gallery_viewList .paging {margin-top:23px;}