body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,menu,section,article, a, select, input{margin:0; padding:0;}

body {margin:0; padding:0; font:12px dotum; color:#666;  line-height:100%; overflow-x:hidden;}
table {border-collapse: collapse;}
fieldset, img {border:0;}
img {margin-bottom:0; vertical-align:top; }
li,dt,dd {list-style:none;}
a {text-decoration:none; cursor:pointer;}
button {cursor:pointer; border:none;}
strong{ font-weight:bold;}
em,address,var {font-style:normal;}
legend, caption {display:none;}
input, select {vertical-align:middle; outline:none;}


/*가입인증 팝업*/
.popup_join {width:338px; border:1px #d7d7d7 solid; background:#fff; position:absolute; z-index:20; top:363px; left:50%; margin-left:-170px;}
.popup_join h3 {margin-bottom:10px; color:#333; font-size:12px;}
.popup_join .con {padding:30px 30px 20px;}
.popup_join .con .tip_text {font-size:11px;}
.popup_join .con .check_num {background:#f4f4f4; text-align:center; padding:10px 0; margin-bottom:8px;}
.popup_join .con .check_num input.checkNum {border:1px #bdbdbd solid; width:108px; height:15px;}
.popup_join .con .check_num label img {vertical-align:text-bottom; margin-right:7px;}
.popup_join .con ul.check_text {margin-left:23px; margin-bottom:20px;}
.popup_join .con ul.check_text li {font-size:11px; background:url('../img/popup/blit_dot.gif') left 3px no-repeat; padding-left:7px; letter-spacing:-1px; margin-bottom:7px;}
.popup_join .con .btn {text-align:center;}
.popup_join .con .btn a {margin:0 2px;}

.popup_join .con .check_num .re img{vertical-align:-8px;}